<% include ../partials/header %>


<div class="ui main text container segment">
    <div class="row">
        <h1>Edit <%=submtx.title%> </h1>
        <div>
            <form class="ui form" action="/mtx/<%= submtx._id %>?_method=PUT" method="POST">
                <div>
                    <input type="text" name="submtx[title]" value="<%=submtx.title%>">
                </div>                
                <div>
                    <input type="text" name="submtx[image]" value="<%=submtx.image%>">
                </div>
                <div>
                    <textarea name="submtx[description]"><%=submtx.description%></textarea>
                </div>         
                <div>
                    <button class="positive ui button">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>




<% include ../partials/footer %>